html
    head
        title= 'Armor API - Group 5'
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        style
            include ../assets/homeStyle.css
    body
        h2 Armor API - Group 5
        div.actionDivContainer
            div.actionDiv
                h4 Search for an armor or a part
                <form id="getForm" method="POST" enctype='multipart/form-data'>
                    p Part Id :
                    input#getPartId(type="text" name="partId" value="")
                    p Part Name :
                    input#getPartName(type="text" name="partName" value="")
                    </br>
                    button#getBtn() Submit
                </form>

            div.actionDiv
                h4 Edit an armor or a part
                <form id="postForm">
                    p Part Id :
                    input(type="text" name="partId" value="")
                    p Part Name :
                    input(type="text" name="partName" value="")
                    p Part Color :
                    input(type="text" name="partColor" value="")
                    p Part Defense :
                    input(type="text" name="partDef" value="")
                    </br>
                    button() Submit
                </form>
            
            div.actionDiv
                h4 Add a new armor or a part
                <form id="putForm">
                    p Part Id :
                    input(type="text" name="partId" value="")
                    p Part Name :
                    input(type="text" name="partName" value="")
                    p Part Color :
                    input(type="text" name="partColor" value="")
                    p Part Defense :
                    input(type="text" name="partDef" value="")
                    </br>
                    button() Submit
                </form>

            div.actionDiv
                h4 Delete an armor or a part
                <form id="deleteForm">
                    p Part Id :
                    input(type="text" name="partId" value="")
                    p Part Name :
                    input(type="text" name="partName" value="")
                    p Part Color :
                    input(type="text" name="partColor" value="")
                    p Part Defense :
                    input(type="text" name="partDef" value="")
                    </br>
                    button() Submit
                </form>
    footer